html {
  margin: 0;
  font-size: 14px;
  font-family: Arial;
}

body {
  height: 100%;
}

header {
  padding: var(--gutter-width) calc(var(--gutter-width) * 2);
  height: var(--header-height);
  box-sizing: border-box;
}

.virsta-header{
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  min-height: 150px;
  width: 100vw;
}

header > h2 {
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

header > h2 > a{
  color: var(--title-color-mobile);
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

header > nav {
  justify-content: flex-start;
  margin-top: 7px;
}

.app-nav-list{
  display: flex;
  flex-direction: row;
}

header .app-nav-list > li{
  margin-left: var(--gutter-width);
}
header .app-nav-list > li a {
  text-decoration: none;
  color: var(--title-color-mobile);
}

header .viti-button {
  border: none;
  padding: calc(var(--gutter-width) / 2) var(--gutter-width);
  background: var(--button-color-mobile);
  color: white;
  text-transform: uppercase;
}

header > .viti-button {
  margin-left: 30vw;
  justify-content: flex-end;
}

/*main*/
.app-main-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.app-main-wrap {
  margin: 0 calc(var(--gutter-width) * 2);
  height: calc(100% - var(--header-height) - var(--footer-height));
  box-sizing: border-box;
}

.app-main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-main-wrap .app-sidebar{
  border: 1px solid #000;
  box-sizing: border-box;
  padding: var(--gutter-width);
  margin-top: var(--gutter-width);
}

.app-main-wrap .desc {
  margin: calc(var(--gutter-width) / 2) 0 var(--gutter-width);
}

.app-main-wrap .app-bg-cont img{
  width: 100%;
}

footer {
  margin: 0 calc(var(--gutter-width) * 2);
  overflow: auto;
  box-sizing: border-box;
}

.viti-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
