/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 320px) {
  
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .header {
    justify-content:flex-start;
  }

  .header .app-nav-list {
    max-width: 50%;
  }

  .app-main{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
    align-items: stretch;
  }

  .app-main .content {
    width: 100%;
    padding: 0 20px;
  }

  .app-main .content .image-wrapper img{
    width: 100%;
  }

  .app-sidebar{
    display: flex;
    width: 25vw;
    align-content: stretch;
  }

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}
