
@media (min-width: 450px) {
  .header {
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }

  .header .button {
    right: -20px;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .header {
    justify-content:flex-start;
  }

  .header .app-nav-list {
    max-width: 50%;
  }

  .app-main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
  }

  .app-sidebar{
    display: flex;
    align-content: stretch;
  }
}
