/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 320px) {
  .app-sidebar{
    width: 100vw;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .app-main-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
    align-items: stretch;
  }

  .app-main{
    width: 80vw;
  }

  .app-sidebar{
    display: flex;
    width: 20vw;
    align-content: stretch;
  }

  header > .viti-button {
    margin-left: 50vw;
    justify-content: flex-end;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}
