.header {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-evenly;
}



.header > nav {
  width: 100%;
  margin-top: 63px;
}

.header .button {
  position: relative;
}

.app-nav-list{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 10px;
  margin-bottom: 10px;
}

.app-main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
