.header {
  position: relative;
}

.header > h2 {
  float: left;
}

.header > nav {
  float: left;
  width: fit-content;
}

.header .app-nav-list > li{
  float: left;
  top: 12px;
  position: relative;
}

.header > .button {
  float: right;
  right: -20px;
  top: -87px;
}

/* main*/
.app-main .content,
.app-main .app-sidebar {
  margin: 0 auto;
}

