body {
  display: grid;
  grid-template: "header"
                  "main"
                  "footer";
}


.header {
  grid-area: header; 
  display: grid;
  grid-template: "logo button"
                  "nav nav";
}

.header > h2 {
  grid-area: logo;
}

.header > nav {
  grid-area: nav;
}

.header .app-nav-list {
  display: grid;
  grid-template: "item item item";
  position: relative;
}

.header > .button {
  grid-area: button;
  position: absolute;
  top: 23px;
  right: 16px;
}

.app-main {
  grid-area: main;
  display: grid;
  grid-template: "content"
                  "sidebar" 110px;
}

.app-main .content {
  grid-area: content;
}

.app-main .app-sidebar {
  grid-area: sidebar;
}


.footer {
  grid-area: footer;
}


