/*Small devices (landscape phones, 425px and up)*/
@media (min-width: 425px) {
  header {
    grid-area: header;
    display: grid;
    grid-template: "text text text text" 50%
    ". . . botton" 50%;
  }

  .viti-header-text {
    grid-area: text;
    display: grid;
    grid-template: "text1 text2 text3 text4";
    text-align: left;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  body {
    grid-template: "header" 15vmin
    "main"
    "sidebar"
    "footer" 20vmin;
    height: 100vh;
    margin: 0;
  }

  header {
    grid-area: header;
    display: grid;
    grid-template: "text text text text . . botton";
    height: 1vw;
  }

  .viti-header-text {
    grid-area: text;
    display: grid;
    grid-template: "text1 text2 text3 text4";
    text-align: left;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .app-main-wrap .app-main {
    width: calc(75% - var(--gutter-width));
    margin: 0 var(--gutter-width) 0 0;
  }

  .app-main-wrap .app-sidebar {
    width: calc(25% - var(--gutter-width));
    margin: 0 0 0 var(--gutter-width);
  }

  body {
    grid-template:
      "header header" 20vmin
      "main   sidebar"
      "footer footer" 20vmin
      / 75vw  25vw
  ;
    margin: 0;
  }

  .viti-header-text{
    grid-area: text;
    display: grid;
    grid-template:
      "text1 text2 text3 text4"
      / 30% 15% 15% 15%
  ;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}
