html {
  margin: 0;
  font-size: 20px;
  font-family: Arial;
}

body {
  display: grid;
}

body {
  grid-template: "header" 40vmin
                  "main"
                  "sidebar"
                  "footer" 20vmin;
  height: 100vh;
  margin: 0;
}

footer, div, section, aside {
  padding: 2vw;
}

header {
  grid-area: header;
  display: grid;
  grid-template: "text text text" 80%
                  ". . botton" 20%;
}

.viti-header-text {
  grid-area: text;
  display: grid;
  grid-template: "text1 text1 text1" 50%
                  "text2 text3 text4" 50%;
  text-align: left;
}

header .viti-button {
  border: none;
  padding: calc(var(--gutter-width) / 2) var(--gutter-width);
  background: var(--button-color-mobile);
  color: white;
  text-transform: uppercase;
}

.viti-header-text-h2 {
  grid-area: text1;
  margin: 6px;
}

.viti-header-text-text2 {
  grid-area: text2;
}

.viti-header-text-text3 {
  grid-area: text3;
}

.viti-header-text-text4 {
  grid-area: text4;
}

.viti-header-button {
  grid-area: botton;
  margin-left: 20vw;
}

footer {
  grid-area: footer;
  text-align: center;
}

.app-main {
  grid-area: main;
  text-align: center;
}

.app-sidebar {
  grid-area: sidebar;
  padding: 20px;
  border: 3px solid black;
  margin: 5px;
}
